<blockquote>
  <ul class="post-copyright list-unstyled">
    <% if (post.permalink) { %>
    <li class="post-copyright-link">
      <strong>本文链接：</strong>
      <a href="<%- post.permalink %>" title="<%= post.title %>" target="_blank" rel="external"><%- post.permalink %></a>
    </li>
    <% } %>
  </ul>
</blockquote>
